// DEVELOPPED IN MOBILE FIRST //
// Extra small devices (portrait phones, less than 576px)
// Take a look at _responsive.scss for the other devices

// Structures communes
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'arial', serif;
}
header, footer {
  background-color: $primary;
  color: $secondary;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  h1 {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -2px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
          font-size: 1rem;
          margin: 0;
      }
  }
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  a {
      padding: 15px 0 15px 0;
  }
}
// Page d'accueil
.main-menu a {
  box-shadow: 0px 0px 5px 1px $gray;
  margin: 20px;
  .menus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 200px;
      height: 300px;
      padding: 20px;
      h2 {
          margin-top: 0;
          margin-bottom: 0;
      }
  }
}
button {
  display: flex;
  flex-direction: row;
  background-color: $primary;
  color: $secondary;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin: 30px auto 30px auto;
  padding: 8px 35px 8px 35px;
}
a {
  text-decoration: none;
  color: $secondary;
}
// Pages menus
svg {
  width: 33%;
}
.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 40px;
  margin: 10px 40px 40px 40px;
  box-shadow: 0px 0px 5px 1px $gray;
  h1, h2, h3, h4 {
      text-align: center;
  }
  .menu-header {
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }
  div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem 0 0.5rem 0;
      p {
          margin: 0;
          padding: 0.2rem;
          align-self: center;
      }
  }
}
// Legal disclaimer
.legal-disclaimer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 50px;
}
.menu1-theme {
  background-color: $menu1-bg-color;
  font-family: 'Devonshire', cursive;
  color: $menu1-tx-color;
  .icon-music-big, .icon-music-little {
      background: linear-gradient(to right,$menu1-gradient-start,$menu1-gradient-end);
      background: -webkit-linear-gradient(to right,$menu1-gradient-start,$menu1-gradient-end); // Chrome, Safari
      -webkit-background-clip: text;
      color: transparent;
  }
  .icon-music-big {
      display: flex;
      justify-content: center;
      font-size: 3rem;
  }
  .icon-music-little {
      margin-right: 1rem;
      font-size: 2rem;
  }
  .menu {
      text-transform: uppercase;
      font-family: 'comic sans ms', sans-serif;
      font-style: italic;
      font-size: 2rem;
  }
  h4 {
      font-size: 2rem;
  }
  div {
      padding: 0.5rem 0rem 0.5rem 0rem;
  }
  h2 {
    font-size: 2rem;
  }
}
.menu2-theme {
  background-color: $menu2-bg-color;
  font-family: 'Croissant One', sans-serif;
  h1, h2 {
      background: linear-gradient(to right, $menu2-gradient-start, $menu2-gradient-end);
      background: -webkit-linear-gradient(to right, $menu2-gradient-start, $menu2-gradient-end); // Chrome, Safari
      -webkit-background-clip: text;
      color: transparent;
  }
  .menu {
      font-family: 'Georgia';
      color: $menu2-tx-color-h3;
      font-size: 2rem;
  }
  .menu2-theme-orange, .menu2-theme-pink, .menu2-theme-purple {
      display: flex;
      flex-direction: column;
  }
  .menu2-theme-orange {
      color: $menu2-tx-color-1part
  }
  .menu2-theme-pink {
      color: $menu2-tx-color-2part;
  }
  .menu2-theme-purple {
      color: $menu2-tx-color-3part;
  }
}
.menu3-theme {
  background-color: $menu3-bg-color;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(to right, $menu3-gradient-start, $menu3-gradient-end);
  background: -webkit-linear-gradient(to right, $menu3-gradient-start, $menu3-gradient-end); // Chrome, Safari
  -webkit-background-clip: text;
  color: transparent;
  .menu {
      font-family: 'comic sans ms';
      font-style: italic;
      color: $menu3-tx-color-h3;
      font-size: 2rem;
  }
  div, .menu-header {
      color: $menu3-tx-color;
  }
}
.menu4-theme {
  background-color: $menu4-bg-color;
  font-family: 'Kaushan Script', cursive;
  background-image: linear-gradient(to right, $menu4-gradient-start, $menu4-gradient-end);
  background: -webkit-linear-gradient(to right, $menu4-gradient-start, $menu4-gradient-end); // Chrome, Safari
  color: transparent;
  -webkit-background-clip: text;
  .menu {
      font-family: 'comic sans ms';
      font-style: italic;
      color: $menu4-tx-color-h3;
      font-size: 2rem;
  }
  p, .menu-header {
      color: $menu4-tx-color;
  }
}
