// RESPONSIVE
// MEDIA QUERIES //
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .main-menu a {
      .menus {
          width: 300px;
          height: 450px;
      }
  }
  .menu-card {
      width: 400px;
      height: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-menu {
      flex-flow: wrap;
      .row {
          display: flex;
          flex-direction: row;
      }
  }
}  

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .row {
          display: flex;
          flex-direction: row;
      }
  }
}