// VARIABLES
$primary: #579c87;
$secondary: #fdcb46;
$gray: #bdbdbd;

$menu1-bg-color: #fcdfdb;
$menu1-tx-color: #000000;
$menu1-gradient-start:#F0505F;
$menu1-gradient-end:#F78F6A;

$menu2-bg-color: #fff5fe;
$menu2-gradient-start: #c67412;
$menu2-gradient-end: #6e4ccc;
$menu2-tx-color-h3: #c77412;
$menu2-tx-color-1part: #c67412;
$menu2-tx-color-2part: #a56799;
$menu2-tx-color-3part: #6e4ccc;

$menu3-bg-color: #edefef;
$menu3-gradient-start: #0228dd;
$menu3-gradient-end: #229df9;
$menu3-tx-color: #000000;
$menu3-tx-color-h3: #0887fb;

$menu4-bg-color: #fdfffd;
$menu4-gradient-start: #3d923a;
$menu4-gradient-end: #bfff81;
$menu4-tx-color: #000000;
$menu4-tx-color-h3: #72bf56;