// MOBILE FIRST //
// Extra small devices (portrait phones, less than 576px)

// Structures communes
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'arial', serif;

}
header, footer {
    background-color: #579c87;
    color: #fdcb46;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    h1 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -2px;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 1rem;
        margin: 0;
    }
}
footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 10px 20px 10px;
}
// Page d'accueil
main a {
    box-shadow: 0px 0px 5px 1px #bdbdbd;
    margin: 20px;
    .menus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 200px;
        height: 300px;
        padding: 20px;
        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


button {
    background-color: #579c87;
    color: #fdcb46;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    padding: 8px 35px 8px 35px;
}
a {
    text-decoration: none;
    color: #fdcb46;
}

// Pages menus
svg {
    width: 33%;
}
.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: 10px 40px 40px 40px;
    box-shadow: 0px 0px 5px 1px #bdbdbd;
    h1, h2, h3, h4 {
        text-align: center;
    }
    .menu-header {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 5rem 0.5rem 5rem;
        p {
            margin: 0;
        }
    }
}

// Legal disclaimer
.legal-disclaimer {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding: 50px;
}
.menu1-theme {
    background-color: #fcdfdb;
    font-family: 'Devonshire', cursive;
    color: #000000;
    .icon-music-big, .icon-music-little {
        background: linear-gradient(to right,#F0505F,#F78F6A);
        background: -webkit-linear-gradient(to right,#F0505F,#F78F6A); // Chrome, Safari
        -webkit-background-clip: text;
        color: transparent; 
    }
    .icon-music-big {
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }
    .icon-music-little {
        margin-right: 1rem;
        font-size: 2rem;
    }
    h3 {
        text-transform: uppercase;
        font-family: 'comic sans ms', sans-serif;
        font-style: italic;
        font-size: 2rem;
    }
    h4 {
        font-size: 2rem;
    }
    span {
        padding: 0.5rem 0rem 0.5rem 0rem;
    }
}
.menu2-theme {
    background-color: #fff5fe;
    font-family: 'Croissant One', sans-serif;
    h1, h2 {
        background: linear-gradient(to right,#c67412,#6e4ccc);
        background: -webkit-linear-gradient(to right,#c67412,#6e4ccc); // Chrome, Safari
        -webkit-background-clip: text;
        color: transparent;
    }
    h3 {
        font-family: 'Georgia';
        color: #c77412;
        font-size: 2rem;
    }
    .menu2-theme-orange {
        color: #c67412;
    }
    .menu2-theme-pink {
        color: #a56799;
    }
    .menu2-theme-purple {
        color: #6e4ccc;
    }

}
.menu3-theme {
    background-color: #edefef;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to right,#0228dd,#229df9);
    background: -webkit-linear-gradient(to right,#0228dd,#229df9); // Chrome, Safari
    -webkit-background-clip: text;
    color: transparent;
    h3 {
        font-family: 'comic sans ms';
        font-style: italic;
        color: #0887fb;
        font-size: 2rem;
    }
    span, .menu-header {
        color: #000000;
    }
}
.menu4-theme {
    background-color: #fdfffd;
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(to right, #3d923a 0%, #bfff81 100%);
    background: -webkit-linear-gradient(to right,#3d923a,#bfff81); // Chrome, Safari
    color:transparent;
    -webkit-background-clip: text;
    h3 {
        font-family: 'comic sans ms';
        font-style: italic;
        color: #72bf56;
        font-size: 2rem;
    }
    span, .menu-header {
        color: #000000;
    }
}


// MEDIA QUERIES //

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}